* {
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;

}

body {
    font-family: Arial;
}

header {
    height: 100px;
    background-color: black;
    margin-bottom: 50px;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;


}

.columna {
    width: 300px;
    height: 500px;
    background-color: darksalmon;
    color: white;
    margin-bottom: 30px;
}

.columna__titular {
    text-align: center;
    padding: 30px;
}

/*============================================================*/
/*============================================================*/
/*============================================================*/
/*============================================================*/
/*============================================================*/




@media (min-width: 576px) {

    header {
        margin-bottom: 100px;
    }

    .contenido {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.columna {
    width: 300px;
    height: 500px;
    background-color: darksalmon;
    color: white;
}

.columna__titular {
    text-align: center;
    padding: 30px;
}

    
}